<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    <title>Coffee Shop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS v5.3.8 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/home.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="left">
      <div class="text-uppercase position-relative header-left logo">
        <h6 class="item d-none">Coffee shop</h6>
        <i class="fa-solid fa-store item"></i>
        <div class="icon">
          <i class="fa-solid fa-bars item d-none"></i>
          <i class="fa-solid fa-hand-point-right item"></i>
        </div>
      </div>
      <ul class="menu m-0 p-0">
        <li class="d-flex gap-3 align-items-center">
          <i class="fa-solid fa-gauge"></i>
          <span class="text-uppercase item d-none">dashboard</span>
        </li>
        <li class="d-flex gap-3 align-items-center">
          <i class="fa-solid fa-calendar-days icon-menu"></i>
          <span class="text-uppercase item d-none">reservation</span>
        </li>

        <li class="d-flex gap-3 align-items-center">
          <i class="fa-solid fa-utensils"></i>
          <span class="text-uppercase item d-none">order food</span>
        </li>
        <li class="d-flex gap-3 align-items-center">
          <i class="fa-solid fa-money-bill"></i>
          <span class="text-uppercase item d-none">bills</span>
        </li>
        <li class="d-flex gap-3 align-items-center">
          <i class="fa-solid fa-user"></i>
          <span class="text-uppercase item d-none">information</span>
        </li>
      </ul>
    </div>
    <div class="right">
      <div
        class="border-bottom header-right border d-flex align-items-center justify-content-between px-5"
      >
        <div class="d-flex align-items-center gap-4">
          <div class="d-flex gap-3">
            <button class="border rounded-circle p-2 text-light icon-more">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="border rounded-circle p-2 text-light icon-more">
              <i class="fa-solid fa-bell"></i>
            </button>
            <button class="border rounded-circle p-2 text-light icon-more">
              <i class="fa-solid fa-envelope"></i>
            </button>
          </div>
        </div>
        <div class="user">
          <button class="border rounded-circle p-2 text-light">
            <i class="fa-solid fa-user"></i>
          </button>
          <div class="bg-light d-flex flex-column p-3 user-card flex-nowrap">
            <span><b>Username: </b>Join_doe</span>
            <span class="pb-4"><b>Email: </b>join_doe@gmail.com</span>
            <button class="border border-warning w-100 rounded-pill btn-logout">
              Logout
            </button>
          </div>
        </div>
      </div>
      <main>
        <div class="box container">
          <div class="text-center mt-5">
            <h3 class="d-flex justify-content-center gap-2 align-items-center">
              <i class="fa-solid fa-chart-column fw-bold"></i>Restaurant
              Analytics Dashboard
            </h3>
            <p>Coffee Shop Revenue & Performance Analysis</p>
          </div>
          <div
            class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-3 dashboard mt-4 align-items-stretch"
          >
            <div class="col">
              <div class="card p-3 border-success border-4">
                <div
                  class="d-flex flex-column gap-2 g-2 text-center align-content-between align-items-center"
                >
                  <i
                    class="icon-dashboard fa-solid fa-chair d-flex align-items-center justify-content-center text-light p-4 bg-success"
                  ></i>
                  <span>Total Tables</span>
                  <h5 class="total-table fw-bold"></h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card p-3 border-primary border-4">
                <div
                  class="d-flex flex-column gap-2 g-2 text-center align-content-between align-items-center"
                >
                  <i
                    class="icon-dashboard fa-solid fa-utensils d-flex align-items-center justify-content-center text-light p-4 bg-primary"
                  ></i>
                  <span>Available Tables</span>
                  <h5 class="available-tables fw-bold"></h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card p-3 border-warning border-4">
                <div
                  class="d-flex flex-column gap-2 g-2 text-center align-content-between align-items-center"
                >
                  <i
                    class="icon-dashboard fa-solid fa-receipt d-flex align-items-center justify-content-center text-light p-4 bg-warning"
                  ></i>
                  <span>Unpaid Orders</span>
                  <h5 class="unpaid-orders fw-bold">3</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card p-3 border-danger border-4">
                <div
                  class="d-flex flex-column gap-2 g-2 text-center align-content-between align-items-center"
                >
                  <i
                    class="icon-dashboard fa-solid fa-money-bill d-flex align-items-center justify-content-center text-light p-4 bg-danger"
                  ></i>
                  <span>Today’s Revenue</span>
                  <h5 class="today-revenue fw-bold">12 VND</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card p-3 h-100">
                <div
                  class="d-flex flex-column gap-2 g-2 text-center align-content-between align-items-center"
                >
                  <h5>Total Revenue</h5>
                  <h5 class="fw-bold">12,390</h5>
                  <span class="">VND</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card p-3 h-100">
                <div
                  class="d-flex flex-column gap-2 g-2 text-center align-content-between align-items-center"
                >
                  <h5>Total Orders</h5>
                  <h5 class="fw-bold">7</h5>
                  <span class="">Orders</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card p-3 h-100">
                <div
                  class="d-flex flex-column gap-2 g-2 text-center align-content-between align-items-center"
                >
                  <h5>Most Popular Drink</h5>
                  <h5 class="fw-bold">Coffee</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card p-3 h-100">
                <div
                  class="d-flex flex-column gap-2 g-2 text-center align-content-between align-items-center"
                >
                  <h5>Frequent Customer</h5>
                  <h5 class="fw-bold">Tom Nguyen</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-cols-lg-2 row-cols-1 my-4">
            <div class="col">
              <div class="bar-chart">
              </div>
            </div>
            <div class="col">
              <div class="line-chart"></div>

            </div>
          </div>
        </div>

        <div class="container p-4 box">
          <div
            class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-3 table-cofee"
          ></div>
        </div>
        <div class="container p-4 box">
          <div
            class="search d-flex flex-column flex-lg-row justify-content-between align-items-center g-3 gap-3"
          >
            <div
              class="choose w-50 border px-3 py-2 d-flex g-2 align-items-center justify-content-between"
            >
              <div class="d-flex align-items-center gap-2">
                <i class="fa-solid fa-utensils"></i>
                <select class="form-select custom-select select-table">
                  <option value="" disabled selected>Choose One Table</option>
                </select>
              </div>
              <div class="">
                <button
                  class="btn-cart px-4 py-3 rounded-pill text-light text-nowrap text-light fw-bold"
                >
                  <i class="fa-solid fa-cart-shopping"></i>
                  Order
                </button>
              </div>
            </div>
            <div class="input position-relative w-100">
              <input
                type="text"
                placeholder="Search"
                class="search-input rounded-pill px-4 py-3 w-100 pe-5 border border-success w-100"
              />
              <button
                class="search-submit text-light fw-bold rounded-pill px-4 py-3 position-absolute end-0 top-50 translate-middle-y"
              >
                Search
              </button>
            </div>
            <button
              class="add px-3 py-2 rounded-pill text-nowrap text-light fw-bold"
              data-bs-toggle="modal"
              data-bs-target="#foods"
            >
              <i class="fa-solid fa-circle-plus"></i>
              Add Food
            </button>
          </div>

          <div
            class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-3 foods-list mt-4"
          ></div>
        </div>
        <div class="box container">
          <h3
            class="d-flex justify-content-start gap-2 align-items-center mt-4"
          >
            <i class="fa-regular fa-clipboard"></i>Payment Completed
          </h3>
          <div
            class="bill-completed row row-cols-lg-2 row-cols-1 mt-2 g-3"
          ></div>
        </div>
        <div class="box container">
          <div
            class="d-flex align-items-center justify-content-center align-content-center mt-5  m-auto"
          >
            <div class="card">
              <div class="row g-0">
                <div class="col-md-4">
                  <div
                    class="info-left h-100 d-flex flex-column m-auto gap-2 g-2 justify-content-center  align-items-center text-light p-5"
                  >
                    <img
                      src="../images/logo.png"
                      class="img-fluid rounded-circle"
                      alt="..."
                      style="width: 100px; height: 100px;"
                    />
                    <h3>Join Doe</h3>
                    <p>Member</p>
                    <div class="">
                      <button class="rounded-pill px-3 py-2 border-light bg-transparent text-light">
                        <i class="fa-regular fa-pen-to-square"></i>Edit
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body bg-dark text-light p-5">
                    <span class="card-title">Information</span>
                    <hr />
                    <div class="row row-cols-lg-2 row-cols-1 w-100 g-3">
                      <div class="col">
                        <span>
                          <b>Email</b><br />
                          Join.doe@example.com
                        </span>
                      </div>
                      <div class="col">
                        <span class="text-nowrap">
                          <b>Address</b><br />
                          123 Main Street, New York
                        </span>
                      </div>
                      <div class="col">
                        <span>
                          <b>Birth</b><br />
                          1990-01-05
                        </span>
                      </div>
                      <div class="col">
                        <span>
                          <b>Phone</b><br />
                          012345678
                        </span>
                      </div>
                    </div>
                    <hr />
                    <p class="card-text">Follow me</p>
                    <div class="d-flex gap-2 g-2 align-items-center">
                      <i class="fa-brands fa-facebook"></i>
                      <i class="fa-brands fa-twitter"></i>
                      <i class="fa-brands fa-instagram"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <!-- Modal booking -->
    <div
      class="modal fade"
      id="booking"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Modal Booking
              <span
                id="bookingid"
                class="text-light fw-bold bg-danger px-2 rounded-circle"
              ></span>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Customer Name</label
              >
              <input type="text" class="form-control" id="customername" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Quantity</label
              >
              <input type="number" class="form-control" id="quantity" />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button id="addBooking" type="button" class="btn btn-primary">
              Booking
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal add foods -->
    <div class="modal" tabindex="-1" id="foods">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="title" class="modal-title">Modal Add Foods</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Name Food</label
              >
              <input type="text" class="form-control" id="foodName" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Prices</label
              >
              <input type="number" class="form-control" id="price" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Product Images</label
              >
              <input type="file" class="form-control" id="productImg" />
              <div class="text-center">
                <img
                  id="imgfood"
                  class="w-75 mt-3"
                  src="../images/logo.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button id="addFoods" type="button" class="btn btn-primary">
              Add Food
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal delete foods -->
    <div class="modal" tabindex="-1" id="deleteFoods">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Food Item</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Are you sure you want to delete this menu item
              <span
                id="idFood"
                class="text-light fw-bold bg-danger px-2 rounded-circle"
              ></span>
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-danger" id="deleteFood">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal cart -->
    <div class="modal" tabindex="-1" id="cartFoods">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Modal Cart
              <span
                id="bookingCart"
                class="text-light fw-bold bg-danger px-2 rounded-circle"
              ></span>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead class="">
                <tr class="text-nowrap text-center">
                  <th scope="col">#</th>
                  <th scope="col">Image</th>
                  <th scope="col">Name Food</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total Price</th>
                </tr>
              </thead>
              <tbody class="list-bill text-center"></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="pay-pal btn btn-primary">
              PayPal
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JavaScript Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="../js/home.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/configCloudinary.js"></script>
    <script src="../js/dashboard.js"></script>
    <script src="../js/getTables.js"></script>
    <script src="../js/getFoods.js"></script>
    <script src="../js/paypal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </body>
</html>
